@import "grid";
@import "mediaQ";

* {margin: 0; padding: 0;}

html {
    font-family:'Source Sans Pro', sans-serif;
    width: 100vw;
    height: 100vh;
}
header {
    width: 100vw;
    padding: 5px;
    margin: 5px;
    background-color: rgb(255, 207, 188);
    color: white;
}
body {
    width: 100vw;
    height: 100vh;
}
h1 {
    color:lightsalmon;
}
h2 {
    color: lightsalmon;
    font-size: 20px;
    margin: 20px;
}
h3 {
    color: lightsalmon;
    font-size: 20px;
    padding: 20px;
}
p {
    font-size: 18px;
    color: rgb(226, 113, 72);
    margin: 10px;
    padding: 20px;
    text-align: justify;
}
section p {
    color:white ;
}
img {
    display:block;
    margin:auto;
}
section {
    background-color: rgb(252, 189, 106);
    margin: 20px;
    width: 100%;
} 
body section {
    color: white;
}
table {
    width: 100%;
    margin: 40px;
    padding: 20px;
} 
th {
    padding: 10px;
}
td {
    padding: 10px;
}
thead {
    color: lightsalmon;
}
tbody {
    background-color:rgb(252, 248, 247);
    color:lightsalmon;
}
ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgb(252, 248, 247);
    font-size: 0px;
    list-style-type: none;
    padding: 10px;
    margin: 5px;
}
li {
    display: inline-block;
    width: 100%;
    position: relative;
    font-size: 14px;
    padding: 5px;
    margin: 5px;
}
ul ul {
    position: absolute;
    display: none;
    left: 50px;
}
ul ul li {
    display:block;
}
ul li:hover {
    display:block;
    transform: scale(1.15);
}
li a {
    color:rgb(252, 248, 247);
    text-decoration: none;
    font-size: 15px;
}
span {
     color:rgb(252, 248, 247);
}

section {
    background-color: rgb(252, 189, 106);
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin: 20px;
    width: 100%;
} 
body section {
    color: white;
}
aside div {
    background-image: url(imagenes/olaPupu2.jpeg.jpg);
}
div h3 {
    padding: 100px;
    font-size: 25px;
}
article {
    margin: 20px;
    padding: 10px;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    background-color:lightsalmon;
    color: white;
    margin: 5px;
}

/*CLASES*/

.pupoRedondeado {
    border-radius: 20%;
    padding: 10px;
}
.subrayado {
    text-decoration: underline;
}
.centro {
    text-align: center;
}
.aLaDerecha {
    text-align: right;
}
.enCursiva {
    font-style: italic;
}
.bordeDoble {
    border-style: double;
    border-color: lightsalmon;
}
.bordeLiso {
    border-style: solid;
    border-color: lightcoral;
    padding: 20px;
    margin: 50px 25px 50px 100px;
}
.justify {
    text-align: justify;
    justify-content: center;
}
.padding {
    padding-bottom: 25px;
}
.margenes {
    margin: 10px 5px 10px 5px;
}
.margen {
    margin-top: 50px;
}

.boton {
    display: Flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
    margin: 15px 0px;
    width: 100%; }
    .boton input {
      padding: 5px;
      height: 30px;
      color: lightsalmon;
      background: white;
      width: 100%; }
      .boton input:hover {
        background: lightsalmon;
        border-bottom: 2px solid lightsalmon;
        color: white;
      }

/*FLEX*/
.padre-flex {
    display:flex;
    flex-wrap: row;
    justify-content: center;
    margin: 10px;
    padding: 10px;
}
.hijo-flex{
    order: -1;
    border: solid 5px rgb(252, 120, 120);
    flex-grow: 1;
}
.papa-flex {
    display:flex;
    flex-direction: column;
    justify-content: center;
    margin: 10px;
    padding: 10px;
}
.flex1 {
    display: flex;
    flex-flow: nowrap;
}

/*Transiciones, Transformaciones y Animaciones*/
.grad {
    background-color: #eec0c6;
    background-image: linear-gradient(315deg, #eec0c6 0%, #e58c8a 74%);
    /*coincide con to bottom right*/
}
.grad2 {
    background-color: #eec0c6;
    background-image: linear-gradient(315deg, #eec0c6 0%, #e58c8a 74%);
    
}

@keyframes efecto {
    0%{

    }
    25%{
        width: 400px;
        transform: scale(0.5);

    }
    50%{
        transform: scale(0.5);
    }
    75%{
        width: 400px;
        transform: scale(0.5);
    }
    100%{

    }
}
@keyframes aparecer {
    0% {

    }
    100% {
        opacity: 1;
    }
}